.login_choice {
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_choice_btn {
  padding: 10px 20px;
  background-color: red;
  margin: 10px 20px;
}

@media screen and (min-width: 900px) {
  .login_choice_btn {
    padding: 20px 40px;
    font-size: 1.4rem;
  }
}
