:root {
  --main-color: rgb(40, 40, 40);
  --secondary-color: rgb(255, 82, 82);
  --white-color: rgb(225, 225, 225);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.light_theme {
  background-color: var(--white-color);
  color: black;
  border-color: var(--main-color);
}
.dark_theme {
  background-color: rgb(44, 44, 44);
  color: white;
  border-color: var(--white-color);
}

main {
  min-height: calc(100vh - 120px);
}

.red {
  color: var(--secondary-color) !important;
}

.orange {
  color: rgb(250, 160, 26) !important;
}

.yellow {
  color: rgb(198, 188, 40) !important;
}

.light_green {
  color: rgb(22, 184, 22) !important;
}

.dark_green {
  color: rgb(6, 146, 226) !important;
}
